<a href="https://colab.research.google.com/github/habibisaif/DataScienceEcosystem/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Java
- C++

### Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Scikit-Learn
- Matplotlib (for plotting graphs)

**Objectives:**
- getting familiar with some popular progamming language for data science
- understand how jupyter works
- create any markdown comments in jupyter cell
- make a code and run it in jupyter notebook

## Data Science Tool

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|
|RapidMiner|

### Below are a few examples of evaluating arithmetic expressions in Python
You can simply use code:


```
a = 2
b = 3
y = a + b
```
to express an arithmatic expression of _y=a+b_

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
a = 3
b = 4
c = 5
y = (a*b)+c
print(y)

17

In [6]:
m = 200
h = m/60
print ("200 minutes is",h, "hours")

200 minutes is 3.3333333333333335 hours

## Author:
Habibi Saifuddin